#include "version_info_GUI.rc"
#include <wx/msw/wx.rc> //for wxWidgets cursor

IDI_ICON1 ICON DISCARDABLE "App32.ico"

//to create object file: windres -i all_ressources_do_not_requ_admin.rc -o all_ressources_do_not_requ_admin.o

//#define MANIFEST_RESOURCE_ID 1
//MANIFEST_RESOURCE_ID RT_MANIFEST "x86InfoAndControl.exe.manifest"
//The manifest file may NOT have a commentc

//<!--Do not put the comment before the manifest (else: side-by-side error because of comment when exe is started)
//manifest file skeleton from http://msdn.microsoft.com/en-us/magazine/cc163486.aspx#S8-->
//
//#include "manifest.rc"
